<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>よくある質問</title>
  <%= stylesheet_link_tag "application" %>
  <!-- JavaScriptファイルのリンク -->
  <%= javascript_include_tag 'script', 'data-turbo-track': 'reload', defer: true %>
</head>
<body>
  <div class="top-wrapper">
    <div class="top-inner-text">
      <h1>よくある質問</h1>

      <ul class="faq">
        <li class="question" id="question1">
          <h3>質問1: これはトップページですか？</h3>
          <p>回答: はい、これはトップページです。</p>
          <button class="btn btn-pink likeButton" data-question-id="question1">いいね！</button>
            <span class="likeCount" id="likeCount-question1">0</span>
        </li>

        <li class="question" id="question2">
          <h3>質問2: これは質問集ですか？</h3>
          <p>回答: はい、これは質問集です。</p>
          <button class="btn btn-pink likeButton" data-question-id="question2">いいね！</button>
          <span class="likeCount" id="likeCount-question2">0</span>
        </li>

        <li class="question" id="question3">
          <h3>質問3: 趣味は？</h3>
          <p>回答: バレーボール。</p>
          <button class="btn btn-pink likeButton" data-question-id="question3">いいね！</button>
          <span class="likeCount" id="likeCount-question3">0</span>
        </li>

        <li class="question" id="question4">
          <h3>質問4: 特技は？</h3>
          <p>回答: バスケットボール。</p>
          <button class="btn btn-pink likeButton" data-question-id="question4">いいね！</button>
          <span class="likeCount" id="likeCount-question4">0</span>
        </li>

        <li class="question" id="question5">
          <h3>質問5: 学歴は？</h3>
          <p>回答: ○○大学。</p>
          <button class="btn btn-pink likeButton" data-question-id="question5">いいね！</button>
          <span class="likeCount" id="likeCount-question5">0</span>
        </li>

        <li class="question" id="question6">
          <h3>質問6: プログラミング経験は？</h3>
          <p>回答: ○○年。</p>
          <button class="btn btn-pink likeButton" data-question-id="question6">いいね！</button>
          <span class="likeCount" id="likeCount-question6">0</span>
        </li>

        <li class="question" id="question7">
          <h3>質問7: プログラミングを始めた理由は？</h3>
          <p>回答: ゲームが何で作られているのか気になったから。</p>
          <button class="btn btn-pink likeButton" data-question-id="question7">いいね！</button>
          <span class="likeCount" id="likeCount-question7">0</span>
        </li>
      </ul>
    </div>
  </div>

</body>
</html>