<% content_for(:title,"パスワードリセット申請") %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>パスワードリセット申請</h1>
      <%= form_with url: password_resets_path, local: true, autocomplete: 'off' do |f| %>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, class: 'form-control', placeholder: "○○○○@○○○○.com", required: true, autocomplete: 'email' %>
        </div>
        <%= f.submit "送信", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>