<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header text-center">
          <h3 class="card-title">コメント削除確認</h3>
          <p>本当にこのコメントを削除しますか？</p>
        </div>
        <div class="card-body">
          <%= form_with url: comment_path(@comment), method: :delete do %>
            <div class="d-flex justify-content-between">
              <%= submit_tag '削除する', class: 'btn btn-danger' %>
              <%= link_to 'キャンセル', board_path(@comment.board), class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
